DATABASE_URL_DEV=jdbc:postgresql://catalog-db:5432/apapedia-catalog
DATABASE_URL_PROD=jdbc:postgresql://catalog-db:5432/apapedia-catalog-prod

DEV_USERNAME=postgres
PROD_USERNAME=postgres

DEV_PASSWORD=secret99
PROD_PASSWORD=secret99

USER_SERVER_URL=apap-188.cs.ui.ac.id/api
CATALOG_SERVER_URL=apap-189.cs.ui.ac.id/api/catalog
CATEGORY_SERVER_URL=apap-189.cs.ui.ac.id/api/category
ORDER_SERVER_URL=apap-190.cs.ui.ac.id/api/order
CART_SERVER_URL=apap-190.cs.ui.ac.id/api/cart