<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <object th:insert="~{fragments/common :: css}" th:remove="tag"></object>
    <object th:insert="~{fragments/common :: js}" th:remove="tag"></object>
    <object
      th:insert="~{fragments/common :: datatable}"
      th:remove="tag"
    ></object>
    <title>Detail Order</title>
  </head>

  <body>
    <div th:replace="~{fragments/alert :: alert}"></div>
    <nav th:replace="~{fragments/navbar :: navbar(salesHistory)}"></nav>
    <div
      class="px-10 py-10 bg-[#F8F9FA] min-h-screen flex flex-col items-center"
    >
      <div class="w-[70%] px-3 mb-3">
        <a
          href="/sales-history"
          class="flex gap-2 items-center no-underline hover:underline group text-gray-500 hover:text-gray-600"
        >
          <svg
            class="w-4 h-4 group-hover:underline"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 5H1m0 0 4 4M1 5l4-4"
            />
          </svg>
          <p class="font-semibold">Back</p>
        </a>
      </div>
      <div
        class="bg-white rounded-xl shadow-md w-[70%] flex justify-between min-h-full overflow-hidden"
      >
        <div class="w-full py-4 px-8 min-h-full flex flex-col">
          <div class="flex justify-between">
            <h1 class="text-xl font-bold text-gray-800 mb-5 flex items-center">
              <svg
                class="w-6 h-6 text-gray-800 mr-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 18 18"
              >
                <path
                  d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"
                />
              </svg>
              Detail Order
            </h1>
            <div>
              <button
                id="changeStatus"
                onclick="showModal()"
                type="button"
                class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center"
              >
                Update Status
              </button>
            </div>
          </div>
          <hr class="w-full h-1 mx-auto my-4 bg-gray-600 border-0 rounded" />
          <div class="grid grid-cols-2 text-slate-800 gap-y-3 justify-end">
            <p class="font-semibold">Oder Date</p>
            <p th:text="': ' + ${order.createdAt}"></p>
            <p class="font-semibold">Total Price</p>
            <p th:text="': Rp ' + ${#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 2, 'POINT')}"></p>
            <p class="font-semibold">Status</p>
            <p th:text="': ' + ${order.status == 0 ? 'Menunggu konfirmasi penjual' : (order.status == 1 ? 'Dikonfirmasi penjual' : (order.status == 2 ? 'Menunggu kurir' : (order.status == 3 ? 'Dalam perjalanan' : (order.status == 4 ? 'Barang diterima' : 'Selesai'))))}"></p>
          </div>
          <div class="dark:text-white mt-10">
            <h4 class="font-semibold text-xl mb-5">Order Items</h4>
            <table id="orderItemTable" class="display dark:text-white">
              <thead>
                <tr>
                  <th>Product Name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total Price</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="orderItem, iterStat : ${order.listOrderItem}">
                  <td>
                    <a
                      th:href="@{'/catalog/' + ${orderItem.productId}}"
                      class="no-underline text-blue-700 hover:text-blue-800"
                      th:text="${orderItem.productName}"
                    ></a>
                  </td>
                  <td
                    th:text="'Rp ' + ${#numbers.formatDecimal(orderItem.productPrice, 0, 'COMMA', 2, 'POINT')}"
                  ></td>
                  <td th:text="${orderItem.quantity}"></td>
                  <td
                    th:text="'Rp ' + ${#numbers.formatDecimal(orderItem.productPrice*orderItem.quantity, 0, 'COMMA', 2, 'POINT')}"
                  ></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Modal container -->
      <div
        id="myModal"
        class="bg-black bg-opacity-20 fixed inset-0 z-50 flex items-center justify-center hidden"
      >
        <!-- Modal -->
        <div class="bg-white p-6 rounded-xl shadow-md w-[35%]">
          <div class="flex justify-center">
            <h2 class="text-xl font-semibold text-gray-800">
              Sure to update status of this order?
            </h2>
          </div>
          <div class="flex justify-center gap-5 mt-5">
            <button
              type="button"
              onclick="closeModal()"
              class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-full text-sm px-5 py-2.5"
            >
              Cancel
            </button>
            <a
              th:href="@{/sales-history/{orderId}/update-status(orderId=${order.id})}"
              type="button"
              class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center"
              >Yes</a
            >
          </div>
        </div>
      </div>
    </div>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
    <script>
      $(document).ready(function () {
        const datatable = new DataTable("#orderItemTable");
      });

      // Get modal and close button elements
      var modal = document.getElementById("myModal");

      function showModal() {
        modal.classList.remove("hidden");
      }

      // Close modal function
      function closeModal() {
        modal.classList.add("hidden");
      }

      // Close modal on outside click
      window.addEventListener("click", function (event) {
        if (event.target === modal) {
          closeModal();
        }
      });
    </script>
  </body>
</html>
