<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <object th:insert="~{fragments/common :: css}" th:remove="tag"></object>
    <object th:insert="~{fragments/common :: js}" th:remove="tag"></object>
    <title>Change Password</title>
  </head>

  <body>
    <div th:replace="~{fragments/alert :: alert}"></div>
    <!-- content -->
    <div class="min-h-screen flex flex-col justify-center items-center w-full">
      <div class="w-[50%] rounded-xl p-10 shadow-lg bg-white">
        <h1 class="text-center text-2xl font-bold text-gray-800 mb-5">
          Change Password
        </h1>
        <form
          th:action="@{/profile/change-password}"
          method="POST"
          th:object="${passwordDTO}"
        >
          <div class="mt-2">
            <label
              for="oldPassword"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Current Password <span class="text-red-600">*</span></label
            >
            <input
              type="password"
              th:field="*{oldPassword}"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              required
            />
          </div>
          <div class="mt-2">
            <label
              for="newPassword"
              class="block mb-2 text-sm font-medium text-gray-900"
              >New Password <span class="text-red-600">*</span></label
            >
            <input
              type="password"
              th:field="*{newPassword}"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              required
            />
          </div>
          <div class="mt-2">
            <label
              for="newPassword2"
              class="block mb-2 text-sm font-medium text-gray-900"
              >New Password Confirmation
              <span class="text-red-600">*</span></label
            >
            <input
              type="password"
              th:field="*{newPassword2}"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              required
            />
          </div>
          <div class="flex justify-center gap-5 mt-3">
            <a
              th:href="@{/profile}"
              type="button"
              class="w-20 text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center"
            >
              Cancel
            </a>
            <button
              type="submit"
              class="w-20 text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
