<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <object th:insert="~{fragments/common :: css}" th:remove="tag"></object>
    <object th:insert="~{fragments/common :: js}" th:remove="tag"></object>
    <title>Withdraw</title>
  </head>

  <body>
    <div th:replace="~{fragments/alert :: alert}"></div>
    <!-- content -->
    <div
      class="mt-20 mx-auto w-[70%] md:w-[50%] px-4 py-5 sm:px-6 lg:px-8 border bg-gradient-to-r from-purple-500 to-pink-500 shadow-md rounded-lg"
    >
      <div class="mx-auto max-w-lg text-center">
        <h1 class="text-2xl font-bold sm:text-3xl text-white">Withdraw</h1>

        <p class="mt-2 text-white">Insert your withdrawal amount.</p>
      </div>

      <form
        th:action="@{/profile/withdraw}"
        method="POST"
        th:object="${balanceDTO}"
        class="mx-auto mb-0 mt-8 max-w-md space-y-4"
      >
        <div>
          <div class="">
            <input type="hidden" th:field="*{method}" />
            <input type="hidden" th:field="*{userId}">
            <input
              required
              type="number"
              th:field="*{amount}"
              placeholder="Rp 100,000.00"
              class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500"
            />
          </div>
          <p id="message" class="text-red-100 italic">
            The minimum withdrawal amount is IDR 10,000.00
          </p>
        </div>

        <div class="flex items-center justify-between">
          <p class="text-sm text-white">
            <a class="underline" href="/profile">Cancel</a>
          </p>

          <button
            type="submit"
            class="inline-block rounded-lg bg-pink-900 bg-opacity-50 hover:bg-opacity-70 px-5 py-3 text-sm font-medium text-white"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Menangkap elemen formulir dan pesan
        var form = document.querySelector("form");
        var amountInput = document.querySelector('input[name="amount"]');
        var messageElement = document.getElementById("message");

        // Menambahkan event listener pada input untuk memeriksa nilai saat berubah
        amountInput.addEventListener("input", function () {
          var amountValue = parseFloat(amountInput.value);
          // Memeriksa apakah nilai kurang dari 10000
          if (amountValue < 10000) {
            // Menampilkan pesan
            messageElement.style.display = "block";
            // Menonaktifkan tombol submit
            form.querySelector('button[type="submit"]').disabled = true;
          } else {
            // Menyembunyikan pesan
            messageElement.style.display = "none";
            // Mengaktifkan kembali tombol submit
            form.querySelector('button[type="submit"]').disabled = false;
          }
        });

        // Menambahkan event listener pada formulir untuk memeriksa sebelum mengirimkan
        form.addEventListener("submit", function (event) {
          var amountValue = parseFloat(amountInput.value);
          // Memeriksa apakah nilai kurang dari 10000
          if (amountValue < 10000) {
            // Mencegah pengiriman formulir jika nilai kurang dari 10000
            event.preventDefault();
            // Menampilkan pesan
            messageElement.style.display = "block";
          }
        });
      });
    </script>
  </body>
</html>
