<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <head th:fragment="css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <script src="https://cdn.tailwindcss.com"></script>
      <link
        rel="icon"
        th:href="@{/images/apapedia-favicon.ico}"
        type="image/x-icon"
      />
    </head>

    <head th:fragment="js">
      <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"
      ></script>
    </head>

    <head th:fragment="datatable">
      <link
        rel="stylesheet"
        href="https://cdn.datatables.net/1.13.6/css/dataTables.tailwindcss.min.css"
      />
      <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.13.6/js/dataTables.tailwindcss.min.js"></script>
    </head>
  </head>
  <body></body>
</html>
