<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <object th:insert="~{fragments/common :: css}" th:remove="tag"></object>
    <object th:insert="~{fragments/common :: js}" th:remove="tag"></object>
    <title>Home</title>
  </head>

  <body>
    <nav th:replace="~{fragments/navbar :: navbar(home)}"></nav>
    <div class="w-full md:flex px-10 py-10 bg-gradient-to-b from-[#2DB4EB] to-opacity-0">
      <div class="w-full md:w-[50%] flex flex-col justify-center items-center mb-5 md:mb-0">
        <img th:src="@{/images/banner-0.png}" alt="banner" class="md:w-[50%]">
        <h1 class="text-[#0E597E] font-bold text-xl md:text-2xl text-center">Shop Smarter, Anytime, Anywhere!</h1>
        <h1 class="text-[#2DB4EB] font-bold text-lg text-center">Only at APAPEDIA</h1>
      </div>
      <div class="w-full md:w-[50%] mx-auto flex flex-col justify-center">
        <div
          id="carousel"
          class="relative overflow-hidden rounded-lg shadow-md"
        >
          <div class="carousel-inner">
            <div class="carousel-slide">
              <img
                th:src="@{/images/banner-1.png}"
                alt="Image 1"
                class="w-full h-auto"
              />
            </div>
            <div class="carousel-slide hidden">
              <img
                th:src="@{/images/banner-2.png}"
                alt="Image 2"
                class="w-full h-auto"
              />
            </div>
            <div class="carousel-slide hidden">
              <img
                th:src="@{/images/banner-3.png}"
                alt="Image 3"
                class="w-full h-auto"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="min-h-4/5">
      <div class="px-10 mt-2">
        <h4 class="font-bold text-lg text-gray-700">Category</h4>
      </div>
      <div
        class="flex shrink-0 overflow-x-auto gap-7 mx-5 px-5 py-4"
      >
        <a
          class="shrink-0 hover:scale-110 duration-150"
          th:href="@{/category/aksesoris-fashion}"
        >
          <img
            th:src="@{/images/category-aksesoris-fashion.png}"
            alt="category-aksesoris-fashion"
            class="object-cover h-28 w-56"
          />
        </a>

        <a
          class="shrink-0 hover:scale-110 duration-150"
          th:href="@{/category/buku-n-alat-tulis}"
        >
          <img
            th:src="@{/images/category-buku-n-alat-tulis.png}"
            alt="category-buku-n-alat-tulis"
            class="object-cover h-28 w-56"
          />
        </a>

        <a
          class="shrink-0 hover:scale-110 duration-150"
          th:href="@{/category/elektronik}"
        >
          <img
            th:src="@{/images/category-elektronik.png}"
            alt="category-elektronik"
            class="object-cover h-28 w-56"
          />
        </a>

        <a
          class="shrink-0 hover:scale-110 duration-150"
          th:href="@{/category/fashion-bayi-n-anak}"
        >
          <img
            th:src="@{/images/category-fashion-bayi-n-anak.png}"
            alt="category-fashion-bayi-n-anak"
            class="object-cover h-28 w-56"
          />
        </a>

        <a
          class="shrink-0 hover:scale-110 duration-150"
          th:href="@{/category/fashion-muslim}"
        >
          <img
            th:src="@{/images/category-fashion-muslim.png}"
            alt="category-fashion-muslim"
            class="object-cover h-28 w-56"
          />
        </a>

        <a
          class="shrink-0 hover:scale-110 duration-150"
          th:href="@{/category/fotografi}"
        >
          <img
            th:src="@{/images/category-fotografi.png}"
            alt="category-fotografi"
            class="object-cover h-28 w-56"
          />
        </a>

        <a
          class="shrink-0 hover:scale-110 duration-150"
          th:href="@{/category/hobi-n-koleksi}"
        >
          <img
            th:src="@{/images/category-hobi-n-koleksi.png}"
            alt="category-hobi-n-koleksi"
            class="object-cover h-28 w-56"
          />
        </a>

        <a
          class="shrink-0 hover:scale-110 duration-150"
          th:href="@{/category/jam-tangan}"
        >
          <img
            th:src="@{/images/category-jam-tangan.png}"
            alt="category-jam-tangan"
            class="object-cover h-28 w-56"
          />
        </a>

        <a
          class="shrink-0 hover:scale-110 duration-150"
          th:href="@{/category/makanan-n-minuman}"
        >
          <img
            th:src="@{/images/category-makanan-n-minuman.png}"
            alt="category-makanan-n-minuman"
            class="object-cover h-28 w-56"
          />
        </a>

        <a
          class="shrink-0 hover:scale-110 duration-150"
          th:href="@{/category/otomotif}"
        >
          <img
            th:src="@{/images/category-otomotif.png}"
            alt="category-otomotif"
            class="object-cover h-28 w-56"
          />
        </a>

        <a
          class="shrink-0 hover:scale-110 duration-150"
          th:href="@{/category/perawatan-n-kecantikan}"
        >
          <img
            th:src="@{/images/category-perawatan-n-kecantikan.png}"
            alt="category-perawatan-n-kecantikan"
            class="object-cover h-28 w-56"
          />
        </a>

        <a
          class="shrink-0 hover:scale-110 duration-150"
          th:href="@{/category/perlengkapan-rumah}"
        >
          <img
            th:src="@{/images/category-perlengkapan-rumah.png}"
            alt="category-perlengkapan-rumah"
            class="object-cover h-28 w-56"
          />
        </a>

        <a
          class="shrink-0 hover:scale-110 duration-150"
          th:href="@{/category/souvenir-n-party-supplies}"
        >
          <img
            th:src="@{/images/category-souvenir-n-party-supplies.png}"
            alt="category-souvenir-n-party-supplies"
            class="object-cover h-28 w-56"
          />
        </a>
      </div>
      <div class="px-10 mt-4 flex justify-between items-center">
        <h4 class="font-bold text-sm md:text-lg text-gray-700">
          Recommendations For You
        </h4>
        <a
          href="#"
          class="font-semibold text-sm md:text-md text-blue-400 hover:text-blue-500 no-underline text-right"
          >See More</a
        >
      </div>
      <div class="flex justify-start items-center gap-5 px-10 mt-4 overflow-x-auto mb-5">
        <a href="#">
          <div
            class="w-40 h-56 md:w-52 md:h-72 rounded-xl overflow-hidden bg-white border border-gray-200 rounded-lg shadow-md"
          >
            <div class="overflow-hidden w-full h-[60%]">
              <img
                src="https://source.unsplash.com/150x180?product"
                class="w-full object-cover"
                alt=""
              />
            </div>
            <div class="w-full h-[40%] p-4">
              <h5 class="text-lg font-semibold tracking-tight text-gray-900">
                Product Name
              </h5>
              <div class="flex items-center justify-between gap-4">
                <span class="text-base font-medium text-gray-600"
                  >Rp 99.000</span
                >
              </div>
            </div>
          </div>
        </a>
        <a href="#">
          <div
            class="w-40 h-56 md:w-52 md:h-72 rounded-xl overflow-hidden bg-white border border-gray-200 rounded-lg shadow-md"
          >
            <div class="overflow-hidden w-full h-[60%]">
              <img
                src="https://source.unsplash.com/150x180?product"
                class="w-full object-cover"
                alt=""
              />
            </div>
            <div class="w-full h-[40%] p-4">
              <h5 class="text-lg font-semibold tracking-tight text-gray-900">
                Product Name
              </h5>
              <div class="flex items-center justify-between gap-4">
                <span class="text-base font-medium text-gray-600"
                  >Rp 99.000</span
                >
              </div>
            </div>
          </div>
        </a>
        <a href="#">
          <div
            class="w-40 h-56 md:w-52 md:h-72 rounded-xl overflow-hidden bg-white border border-gray-200 rounded-lg shadow-md"
          >
            <div class="overflow-hidden w-full h-[60%]">
              <img
                src="https://source.unsplash.com/150x180?product"
                class="w-full object-cover"
                alt=""
              />
            </div>
            <div class="w-full h-[40%] p-4">
              <h5 class="text-lg font-semibold tracking-tight text-gray-900">
                Product Name
              </h5>
              <div class="flex items-center justify-between gap-4">
                <span class="text-base font-medium text-gray-600"
                  >Rp 99.000</span
                >
              </div>
            </div>
          </div>
        </a>
        <a href="#">
          <div
            class="w-40 h-56 md:w-52 md:h-72 rounded-xl overflow-hidden bg-white border border-gray-200 rounded-lg shadow-md"
          >
            <div class="overflow-hidden w-full h-[60%]">
              <img
                src="https://source.unsplash.com/150x180?product"
                class="w-full object-cover"
                alt=""
              />
            </div>
            <div class="w-full h-[40%] p-4">
              <h5 class="text-lg font-semibold tracking-tight text-gray-900">
                Product Name
              </h5>
              <div class="flex items-center justify-between gap-4">
                <span class="text-base font-medium text-gray-600"
                  >Rp 99.000</span
                >
              </div>
            </div>
          </div>
        </a>
        <a href="#">
          <div
            class="w-40 h-56 md:w-52 md:h-72 rounded-xl overflow-hidden bg-white border border-gray-200 rounded-lg shadow-md"
          >
            <div class="overflow-hidden w-full h-[60%]">
              <img
                src="https://source.unsplash.com/150x180?product"
                class="w-full object-cover"
                alt=""
              />
            </div>
            <div class="w-full h-[40%] p-4">
              <h5 class="text-lg font-semibold tracking-tight text-gray-900">
                Product Name
              </h5>
              <div class="flex items-center justify-between gap-4">
                <span class="text-base font-medium text-gray-600"
                  >Rp 99.000</span
                >
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const carousel = document.getElementById("carousel");
        const slides = document.querySelectorAll(".carousel-slide");

        let currentSlide = 0;

        function showSlide(index) {
          slides.forEach((slide, i) => {
            if (i === index) {
              slide.classList.remove("hidden");
            } else {
              slide.classList.add("hidden");
            }
          });
        }

        function nextSlide() {
          currentSlide = (currentSlide + 1) % slides.length;
          showSlide(currentSlide);
        }

        function prevSlide() {
          currentSlide = (currentSlide - 1 + slides.length) % slides.length;
          showSlide(currentSlide);
        }
        setInterval(nextSlide, 3000);
      });
    </script>
  </body>
</html>
