<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <object th:insert="~{fragments/common :: css}" th:remove="tag"></object>
    <object th:insert="~{fragments/common :: js}" th:remove="tag"></object>
    <title>Home</title>
  </head>

  <body>
    <nav th:replace="~{fragments/navbar :: navbar(home)}"></nav>

    <div class="min-h-screen"></div>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
  </body>
</html>
